/* CSS2 100% height hack from http://www.quirksmode.org/css/100percheight.html */
html, body { height: 100%; padding: 0px; margin: 0px}

body {
	font-size: 0.75em;
	//font-size: 12px;
	font-family: Verdana,Arial,sans-serif;
	color: #000;
	background: #fff;
	overflow: hidden;
}

#map_div { position: static; height: 100%; width: 100%; padding: 0px; margin: 0px; background: white; z-index:1000;}

#map_zoom_div {padding: 0.2em; position: absolute; left:10px; top:110px; background:white; z-index:1100; }
#map_add_div {padding: 0.2em; position: absolute; left:10px; top:173px; background:white; z-index:1100; }
#map_tools_div {padding: 0.2em; position: absolute; left:10px; top:210px; background:white; z-index:1100; }

div#map_filter  {
	position: absolute;	
	z-index: 1200; 
	top:0;
	left:0;
	right:0;
	text-align: center;/*ie5 center trick*/
	background: transparent;
}
div#map_filter_center {
		width: 800px;
		margin: 0px auto;
		text-align: left; /*ie5 center trick*/
		margin-top: 0px;
		//background: white;
		//border: 1px solid black;
		overflow: hidden;  /*float force size, else can use auto...*/		
}
div#map_filter_search {
		margin-top: 30px;
}

div#header  {
	position: absolute;	
	z-index: 3000; 
	top:0;
	left:0;
	right:0;
	text-align: center;/*ie5 center trick*/
	background: transparent;
}
div#header_center {
		width: 800px;
		margin: 0px auto;
		text-align: left; /*ie5 center trick*/
		margin-top: 0px;
		background-image: url('/images/header_background.png');
		background-repeat: no-repeat;
		background-position: bottom left;
		//border: 1px solid transparent;
		overflow: hidden;  /*float force size */		
}
div#header-tool-bar { margin: 4.2em 0 2.6em 120px;}
div#header_login_small { float: right;}
div#header_login_large { float: right;}


#panel_background {
	z-index: 2000; 
	background: white; 
	background-image: url(/images/front_bg.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: right bottom;
	position: absolute;
	overflow: hidden;
	left: 0; 
	top:0; 
	width:100%; 
	height:100%; 
	display:block;
	opacity: 1;
	filter: alpha(opacity=100);
}

#panel {
	position: absolute;
	z-index: 2100; 
	left: 0; 
	top:0; 
	width:100%; 
	height:100%; 
	//display:block;
	text-align: center;/*ie5 center trick*/
	background: transparent; 
	overflow: auto;
}

#panel_center {
	width: 800px; 
	margin: 0px auto;
	text-align: left;/*ie5 center trick*/
	margin-top: 8.4em;
	background: transparent;
	overflow: hidden;
}


#panel_home {background:transparent; width:100%; display:block;}
#panel_inbox, #panel_profile, #panel_calendar, #panel_login, #panel_conversation, #panel_docs, #panel_yvih {background:transparent; overflow:hidden; width:100%; display:none;}
#message-edit {
	display: none;	
}
#conversations_wait, #news_wait, #resources_wait {
	display: none;	
}


div#modal_layer {
	z-index: 5000;
	background: black;
	position: absolute;
	overflow: hidden;
	left: 0; 
	top:0; 
	width:100%; 
	height:100%; 
	display:none;
	opacity: 0.7;
	filter: alpha(opacity=70);
}


p {	margin: 5px 0px 5px 0px; }

ul {
	overflow: hidden;
	list-style-type: none;
	margin: -3px 0px 3px 3px;
	text-align: left;
	padding:0px;
}
li {
	padding:0px;
	margin:0px;
}

.inbox_rss_div {  
	height: 50px;
	overflow: hidden;
}

	/* used by my listings...*/
.listing_box {
	border-top: 1px solid #bbb;
	position: relative;
	height: auto;
}
.listing_sub {
	font-size:0.9em; 
	margin: 0; 
	color: #666;
}

.listing_div { border-bottom: 1px solid #bbb; overflow: hidden; } /* see http://www.quirksmode.org/css/clearing.html */ 
.listing_main { float: left; padding: 0.2em 0.2em 0.6em 0.2em; width: 65%; margin-left: 2em;}
.listing_left { float: left;  padding: 0.2em 0.2em 0.6em 0.2em;   text-align: right; margin-left: 5px;}


.main_results a {font-weight: bold;text-decoration:none; color:#3A8104;}
.main_results a:hover {font-weight: bold; text-decoration:underline;color:#3A8104;}
.listing_main a {font-weight: bold;text-decoration:none; color:#3A8104;}
.listing_main a:hover {font-weight: bold; text-decoration:underline;color:#3A8104;}
.show_logged_in { display:none; }
.show_logged_out { 	display:block; }




    .fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
	.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
	
	.fg-toolbar a.fg-button { float:left; }
	
	/* remove extra button width in IE */
	button.fg-button { width:auto; overflow:visible; }
	
	
	.fg-button-icon-left { padding-left: 2.1em; }
	.fg-button-icon-right { padding-right: 2.1em; }
	.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
	.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
	
	.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	
	
	.fg-buttonset { float:left; }
	.fg-buttonset .fg-button { float: left; }
	.fg-buttonset-single .fg-button, 
	.fg-buttonset-multi .fg-button { margin-right: -1px;}
	
	.fg-toolbar { padding: .3em; margin: 0;}
	.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
	.fg-toolbar .fg-button { font-size: 0.8em;  }
	.fg-toolbar button.fg-button { font-size: 0.75em;  }
	
	/* some ive added*/
	input.fg-input {font-size: 0.9em; padding: 0.3em; background: #fffef4; color: black; border: 1px solid #0078AE;}
	textarea.fg-input {font-size: 0.9em; padding: 0.3em; background: #fffef4; color: black; border: 1px solid #0078AE;}
	select.fg-input {font-size: 0.9em; padding: 0.3em; background: #fffef4; color: black; border: 1px solid #0078AE;}
	.fg-toolbar .fg-input {float: left; margin: 0px; border: 1px solid #77D5F7;}

	.fg-form {margin: 0; font-size: 0.9em;}	
	.fg-form .fg-button { font-size: 0.8em;  }
	.fg-form button {position: relative; font-size: 0.8em; }
	
	.fg-comment .fg-button {
		padding: 0.3em 0.6em;	
		font-size: 0.8em;
	}

	#inbox_tabs, #tabs_doco {
	font-size: 0.8em;	
	}
	
#inbox_tabs .ui-tabs-nav {
}
	



/*for maps tools toolbar*/	

#dialog_map_tools {
	font-size: 0.8em;
}

.ui-dialog-titlebar {
	font-size: 0.8em;
}	



div#searchPanelResults {
	padding:0; 
	margin: 0;
	margin-top 2em; 
}

.subtle_text {
	color: #444;
}
.content_area {
	color: black;
	background-color: white;
	border: 1px solid grey;
}

.doco_page {
	font-size: 1.2em;	
}



/*for gmap info window*/
.info_window { width: 450px; padding: 0px; }
#latest_news { padding: 0px; }
a img { border-style:none; }




