@import url("http://www.freecycle.org/logininfo.css");

img { border: 0 }
.zero { margin: 0; padding: 0; border-width: 0; }

body  { background-color: white; margin: 9px 0 0 }

.center { clear: both; width: 780px; text-align: center; margin: 0 auto 0 auto; padding: 0 }
#logo { margin: 0 auto; text-align: center; }


#navbar  { font-size: 14px; line-height: 18px; font-family: "Lucida Grande", Verdana, Lucida, sans-serif; margin-right: auto; margin-left: auto; height: 23px }
#navbar .left, #navbar .right { display: block; width: 16px; height: 23px; background-repeat: no-repeat; float: left }
#navbar .left  { background-image: url(/images/nav_left.gif) }
#navbar .right { background-image: url(/images/nav_right.gif) }
#navbar a, #navbar a:visited    { color: white; text-decoration: none; background: url(/images/nav_off.gif) repeat-x; text-align: center; display: block; padding-top: 2px; width: 100px; height: 21px; float: left; overflow: hidden }
#navbar a:hover    { color: #8b483b; background: url(/images/nav_on.gif) repeat-x }

#footer   { color: #4d4d36; font-size: 9px; font-family: Verdana, Arial, sans-serif; background-color: #cedcb8; text-align: center; margin-top: 30px; padding-top: 4px; padding-bottom: 5px; width: 100%; border-top: 2px solid #9bb07c }
#footer a, #footer a:visited { color: #266e33; text-decoration: none }
#footer a:hover { text-decoration: underline }

/* Page pays */
#regions     { margin-top: 20px; font-size: 0.85em; text-align: left; width: 360px; float: right; clear: both }
#regions div  { display: block; width: 170px; float: left; padding-bottom: 4px }

/* Page sponsors */
.sponsor { margin: 0 0 15px 0; border-bottom: 1px solid #fdc65f; padding-bottom: 15px }
.sponsorG { text-align: right; width: 245px; float: left; font-size: 10px }
.sponsorG img { margin-top: 8px }
.sponsorD { text-align: justify; width: 495px; margin-left: 25px; float: left }



h1, h2, h3  { color: #6a2805; font-family: Georgia, serif; font-weight: normal; text-align: center; margin-top: 10px; margin-bottom: 5px }
h4, h5, h6    { color: #0d4c12; font-family: "Lucida Grande", Verdana, Lucida, sans-serif; text-align: center; margin-top: 10px; margin-bottom: 5px }
h6 { color:#fb4c31 }

h1 { font-size: 28px }
h2 { font-size: 22px }
h3 { font-size: 18px }
h4 { font-size: 20px }
h5 { font-size: 18px }
h6 { font-size: 16px }
fieldset { border: none;  margin: 0px; 	padding: 0px }

.gris { color: gray }


/* Content */
#content       { font-size: 0.85em; font-family: "Lucida Grande", Verdana, Lucida, serif; line-height: 1.3; text-align: center; margin: 10px auto; width: 780px; clear: both }
#content .textes { text-align: justify!important }
#content a   { color: #782a00; text-decoration: none; padding-right: 1px; padding-left: 1px !important; border-bottom: 1px solid #d08b66 }
#content a:visited    { color: #8d3607; text-decoration: none; padding-right: 1px; padding-left: 1px !important; border-bottom: 1px dotted #d08b66 }
#content a:hover { color: black; text-decoration: none; background-color: #dbdb70; border-bottom: 1px solid #979705 }

#joinbox {
	text-align	: center;
}

#joinbox a {
	color		: #782a00;
	text-decoration	: none;
	padding-right	: 1px;
	padding-left	: 1px !important;
	border-bottom	: 1px solid #d08b66
}

#joinbox a:visited {
	color		: #8d3607;
	text-decoration	: none;
	padding-right	: 1px;
	padding-left	: 1px !important;
	border-bottom	: 1px dotted #d08b66
}
#joinbox a:hover {
	color		: black;
	text-decoration	: none;
	background-color: #dbdb70;
	border-bottom	: 1px solid #979705
}

/* Group map */
.left { float: left; border-right: 10px }
.navigation    { color: #999; text-align: center; margin-bottom: 20px; padding-bottom: 5px; border-bottom: 1px solid silver }
#regions    { text-align: left; width: 350px; float: right; clear: both }


/* Search form */
#search {
	background-image	: url(/images/home-search.gif);
	background-repeat	: no-repeat;
	background-position	: left top;
	margin			: 0px auto 5px;
	width			: 495px;
	overflow		: hidden;
	font-family		: "Lucida Grande", Verdana, Lucida, serif;
	padding			: 0px;
}

#search form {
	margin			: 0px;
	padding			: 0px;
	text-align		: left;
}

#search #keywords {
	font-size		: 16px;
	font-family		: Verdana, serif;
	margin-top		: 8px;
	margin-left		: 8px;
	width			: 420px;
	height			: 20px;
	float			: left;
}

#search #liensdroite {
	margin-left		: 10px;
	font-size		: 12px;
	display			: block;
	margin-top		: 2px;
	width			: 80px;
	height			: 45px;
	float			: left;
	overflow		: hidden;
	text-align		: left
}

#search #liensdroite a,
#search #liensdroite a:visited {
	color			: white;
	text-decoration		: none;
}

#search #liensdroite a:hover {
	border-bottom: 1px solid white;
}

#search #boutons {
	float			: right;
	margin-right		: 8px;
	padding-top		: 8px;
}

#search .result,
#search .result select {
	text-align		: center;
	margin-top		: 10px;
	font-size		: 10px;
}



.blocInfo      { font-size: 11px; font-family: "Lucida Grande", Verdana, Lucida, serif; text-align: justify; margin: 15px auto; width: 475px; padding: 8px; border: 1px solid #fec55c }
.blocsponsor        { font-size: 10px; font-family: "Lucida Grande", Verdana, Lucida, serif; color: #adba87; text-align: center; margin: 15px auto; padding: 4px; width: 575px; border: solid 1px #d7eb9c }
.blocsponsor img	{ margin: 0 10px; padding: 0 }
.blocsponsor a, .blocsponsor a:visited, .blocsponsor a:hover { border-style: none!important; background-color: transparent!important }

.info      { font-size: 14px; font-family: "Lucida Grande", Verdana, Lucida, serif; line-height: 34px; text-align: center; margin: 0 auto; width: 495px; height: 32px }
.info a, .info a:visited    { color: #333; font-style: normal; text-decoration: none; background-image: url(/images/home-info.png); background-repeat: no-repeat; display: block; width: 495px; height: 32px; border-style: none !important }
.info a:hover    { color: #05531c; background-repeat: no-repeat; background-position: 0 -32px; border-style: none !important }
#liens    { color: #999; font-size: 13px; font-family: "Lucida Grande", Verdana, Lucida, serif; text-align: center; margin: 20px auto 30px; width: 780px }
#liensGros    { color: #999; font-size: 16px; font-family: "Lucida Grande", Verdana, Lucida, serif; text-align: center; margin: 20px auto 20px; width: 780px }
#thanks { color: #333; font-size: 10px; font-family: "Lucida Grande", Verdana, Lucida, serif; line-height: 18px; text-align: center; margin-top: 20px; margin-right: auto; margin-left: auto; }
#thanks strong { font-size: 12px; font-weight: normal }
#thanks img	{ margin: 5px; padding: 10px }
#thanks a, #thanks a:visited {	border-style: none!important }
#thanks a:hover { border: 1px solid #930; }

#liens a, #thanks a, #liensGros a  { color: #782a00; text-decoration: none; padding-right: 1px; padding-left: 1px !important; border-bottom: 1px solid #8d3607 }
#liens a:visited, #thanks a:visited, #liensGros a:visited   { color: #8d3607; text-decoration: none; padding-right: 1px; padding-left: 1px !important; border-bottom: 1px dotted #930 }
#liens a:hover, #thanks a:hover, #liensGros a:hover { color: black; text-decoration: none; background-color: #dbdb70; border-bottom: 1px solid #979705 }
.exemple  { color: gray; font-size: 10px; font-family: Verdana, sans-serif }

/* form */
#corpForm     { color: black; font-size: 14px; background-color: #edecae; margin: 0 auto; padding: 5px; width: 200px; border: solid 1px #fb9331 }
#corpForm .focus  { color: black; background: #f6f6dd }
#corpForm .normal { background: white; color: black }
#corpForm label:hover  { cursor: pointer }
#corpForm fieldset  { font-style: normal; margin: 0; padding: 4px }
#piedForm input  { font-weight: bold; text-align: center }
#titreForm, #piedForm     { color: white; font: bold 14px arial, hevetica, sans-serif; background-color: #9d4532; margin: 0; padding: 0.5em; border: solid 1px #771b28; width: 100% }
#corpForm label   { margin: 0; padding: 0 }

/* Group bar and button */
#groupbar  { font-size: 11px; font-family: Verdana, sans-serif; display: block; padding-top: 20px; margin-bottom: 20px; width: 780px; height: 42px; border: 0 }
#groupbar #since, #groupbar #members, #groupbar #messages   { text-align: center; padding: 6px 45px 4px 8px; width: 150px; height: 32px; float: left }

#groupbar #since  { background-image: url(/images/group_since.gif); background-repeat: no-repeat; margin: 0 0 0 30px }
#groupbar #members  { background-image: url(/images/group_members.gif); background-repeat: no-repeat; margin: 0 40px }
#groupbar #messages  { background-image: url(/images/group_messages.gif); background-repeat: no-repeat; margin: 0; margin-right: 20px; }
#groupbar strong { color: #550a01; font-size: 14px }
#groupbar em { font-size: 9px; font-style: normal }



.subtitle   { color: #d56900; font-size: 16px; margin-top: -5px }

/* .barInfo   { font-size: 12px; background-color: #e8f2d9; margin: -10px 0 0 0; padding-top: 5px; padding-bottom: 5px; border-top: 2px solid #bec2be; border-bottom: 2px solid #bec2be } */

.barInfo   { margin: -10px 0 0 0; padding-top: 5px; padding-bottom: 5px }

/* Messages table */
.tblMessg   { margin-bottom: 15px; border: solid 2px #fb9331 }
.tblMessg td   { font-size: 12px; background-color: #f6f6dd; margin: 0; padding: 4px; border-style: solid; border-width: 1px 0 0; border-color: #fb9331; text-align: left }
.tblMessg th    { color: #d06600; font-size: 13px; background-color: #f1d180; margin: 0; padding: 4px; border-style: solid; border-width: 1px 0 0; border-color: #f93   }
.tblMessg caption { color: #550a01; font-size: 16px; padding-bottom: 2px }
.tblMessg tr { }
.tblMessg .letype  { color: #88882e; font-size: 11px; font-style: italic; text-align: right; vertical-align: bottom }

.barRem  { background-color: #f6f6dd; margin-top: 10px; margin-bottom: 10px; padding-top: 5px; padding-bottom: 5px; border-top: 2px solid #baeb0e; border-bottom: 2px solid #baeb0e }

/* Simple table */
.tblSimple   { border-bottom-width: 0; border-spacing: 2px; width: auto }
.tblSimple td { text-align: left }

/* Offer table */
#tblOffer   { border: solid 1px #9bb07c }
#tblOffer input:focus,#tblOffer textarea:focus  { background-color: #fafce2 }
#tblOffer td      { font-size: 14px; font-weight: normal; text-align: left; margin: 0; padding: 4px }
#tblOffer th       { font-size: 12px; font-weight: normal; text-align: right; margin: 0; padding: 4px }

/* tabs */

#tabs {
	font-family	: Verdana, Arial, Helvetica, sans-serif;
	display		: block;
	margin		: 20px auto;
	width		: 760px
}

#tabs #haut {
	background-image: url(/images/tabTop.gif);
	background-repeat: no-repeat;
	width: 760px;
	height: 31px
}

#tabs .tab {
	width: 100px;
	height: 31px;
	float: left
}
#tabs #spacer {
	display: block;
	height: 31px;
	float: left;
	margin: 0px auto;
	padding: 0px 4px;
}

#tabs .tab,
#tabs .tabS {
	font-size: 14px;
	font-family: "Lucida Grande", Verdana, Lucida, serif;
	text-decoration: none;
	background-repeat: no-repeat;
	text-align: center;
	width: 100px;
	height: 31px;
	float: left
}
#tabs .tab {
	border: 0;
	background-image: url(/images/tabOngletOff.gif)
}
#tabs .tabS {
	font-weight: 700;
	text-decoration: none;
	background-image: url(/images/tabOngletOn.gif)
}

#tabs .tab a,
#tabs .tab a:visited {
	color: #d5b07b;
	text-decoration: none;
	background-image: url(/images/tabOngletOff.gif);
	background-repeat: no-repeat;
	background-position: -100px 0;
	display: block; margin: 0;
	padding: 6px 0 0; width: 99px;
	height: 25px
}
#tabs .tab a:hover {
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
	color: white;
	text-decoration: none;
	background-color: transparent
}

#tabs .tabS a,
#tabs .tabS a:visited {
	color	: #fff;
	text-decoration: none;
	display: block;
	width: 100px;
	height: 25px;
	padding: 6px 0 0 0
}

#tabs .tabS a:hover {
	text-decoration: underline;
	background-color: transparent
}


#tabs #group       { font-size: 12px; background-image: url(/images/tabTopGroup.gif); background-repeat: no-repeat; padding-top: 6px; padding-left: 10px !important; width: 750px; height: 20px; overflow: hidden }
#tabs #group strong { color: #396 }
#tabs #bas #gauche    { padding-top: 5px; padding-right: 5px; padding-left: 10px !important; width: 590px; height: auto; float: left }
#tabs #bas #droite     { background-image: url(/images/tabDeg.gif); background-repeat: no-repeat; background-position: left top; margin-top: 0; padding-top: 30px; width: 155px; height: auto; float: left }
#tabs #bas #droite a  { }
#tabs #bas #droite i  { color: #090; font-size: 10px; font-style: normal }
#tabs #pied   { background-image: url(/images/tabBas-nosep.gif); background-repeat: no-repeat; background-position: left top; width: 760px; height: 16px; clear: both }
#tabs #pied2   { background-image: url(/images/tabBas2.gif); background-repeat: no-repeat; background-position: left top; width: 760px; height: 16px; clear: both }


#tabs #bas    { font-size: 12px; background-image: url(/images/tabFond.gif); background-repeat: repeat-y; margin: 0; padding: 0; width: 760px; height: auto }

#tabs #bas2    { font-size: 12px; background-image: url(/images/tabFond2.gif); background-repeat: repeat-y; margin: 0px; padding: 8px; width: 760px; height: auto }

#tabs #bas #gauche td { padding-top: 4px; padding-bottom: 4px; vertical-align: top; border-bottom: 1px solid #090 }
#tabs #bas #gauche .l1 { background-color: #f0f5ef }
#tabs #bas #gauche .l2 { background-color: white }
#tabs #bas #gauche .c1  { color: gray; font-size: 9px; background-color: #f0f5ef; text-align: center }
#tabs #bas #gauche .c2 { color: gray; font-size: 9px; background-color: white; text-align: center }
#tabs #bas #gauche a, #tabs #bas #gauche a:visited { color: #3c1414; font-weight: bold }
#tabs #bas #gauche a:hover { color: #94141e }
#tabs #bas #gauche td { text-align: left }
#tabs #bas2 #contenu { width: 740px }

form#results { margin-top: 10px }
input#green { background-color: #1daa73; color: #fff; }

/* Menu and submenu */

#barremenu  {
	background-image: url("/images/fdmenu.png");
	background-repeat: repeat-x;
	margin		: 20px auto 30px;
	height		: 2em;
	border-bottom	: 1px solid #9bb07c;
}

#barremenu div ul {
	font-size	: 1em;
	font-family	: "Lucida Grande", Verdana, Lucida, serif;
	list-style-type	: none;
	margin		: 0px;
	padding		: 0px;
	height		: 20px;
	text-align	: center;
	float		: left;
}

#barremenu div ul li.header {
	border-left	: 1px solid #cedcb8;
	font-weight	: bold;
	text-align	: center;
	padding		: 0px;
	margin		: 0px;
}

#barremenu div ul li.item {
	display		: none;
	margin		: -4px;
	padding		: 0px;
	border-style	: solid;
	border-width	: 2px;
	border-color	: #cedcb8 #cedcb8 #9bb07c #9bb07c;
        background-color: #f4f7f3;
        text-align      : left;
	position	: relative;
	width		: 16em;
}

#barremenu div ul:hover > .item {
	display		: block;
}

#barremenu div ul li.header:hover a,
#barremenu div ul li.item:hover a {
	color		: white;
	background	: #34a379;
	font-size	: 1em;
	text-decoration	: none;
	display		: block;
	margin		: 0px;
	padding		: 4px 4px;
}

#barremenu div ul li a:link,
#barremenu div ul li a:visited {
	color		: #672a08;
	font-size	: 1em;
	text-decoration	: none;
	display		: block;
	margin		: 0px;
	padding		: 4px 4px;
	background	: none;
}

